*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles (did after 12 AM - night- friday)*/
.my-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.hero-buttons .transparent{
    background-color: transparent;
    border: 1px solid #ffffff;
}
.focus{
    color: #30b868;
}
/* individual styles (did after 12 AM - night- friday) */
header{
    /* background-color: green; */
    background-color: #ffffff;
}

header nav{
    max-width: 1600px;
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.menu ul{
    display: flex;
    gap: 32px;
}

.menu ul li{
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

#hero{
    padding: 116px 120px 180px 120px;
    text-align: center;
    background: url(../assets/cropped-hands-woman-writing-book\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.open-now-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    
}

#hero .open-now-btn button{
    padding: 8px 12px;
    background-color: #ffffff;
    color: #30B868;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
}
.hero-info h1{
    text-transform: capitalize;
    color: #ffffff;
    margin: 16px 0
}

.hero-info p{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 32px;
}
.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.hero-buttons a{
    text-decoration: none;
}
.hero-buttons .btn{
    padding: 16px;
    display: flex;
    gap: 10px;
}
/* knowledge section two styles (did at morning - friday) */
.knowledge-sec-two{
    background-color: #fbfbfb;
    text-align: center;
    padding-top: 60px;
}
 .knowledge-sec-two .section-heading h1{
    text-align: center;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
 }

 .knowledge-sec-two .section-heading p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 44px;
 }

.section-cards{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
}

.section-cards .card{
    max-width: 322px;
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    padding: 70px 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000013;
}

.card .card-icon{
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-icon i{
    background-color: #f95555;
    border: none;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.card h2{
    margin: 16px 0;
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    text-transform: capitalize;
}

.card p, .sec-info p{
    font-size: 16px;
    color: #627382;
}
/* second brain section styles (did at morning - friday) */
.second-brain-sec{
    background-color: #ffffff;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -5px!important;
    gap: 60px;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;

}

.sec-img img{
    width: 600px;
    height: auto;
}
/* did at afternoon-friday */
.sec-info h3{
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
    text-transform:uppercase;
}
.sec-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-transform: capitalize;
    
}
.sec-info ul li{
    list-style: none;
}
.sec-info p{
    margin-bottom: 40px;
}
.steps li{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.6;
}
.steps li i{
    color: #30b868;
    align-self: center;
    flex-shrink: 0;
    font-size: 16px;
}
.thinking-sec{
    background-color: #ffffff;
    padding-bottom: 120px;
}
.thinking-info{
    background-color: #f7f6f2;
    text-align: center;
    max-width: 1340px;
    width: 85%;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
}
.thinking-hws{
    padding: 80px 40px 24px;
}
.thinking-hws h1{
    text-transform: capitalize;
}

.thinking-hws p, .access-btn-wsl p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 16px;
}
.access-btn-wsl{
    padding: 0 40px 80px;
}

.access-btn-wsl button{
    margin-bottom: 16px;
}

