*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.my-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.nav-btn .btn{
    padding: 12px 16px;
    background-color: #30b868;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

/* individual styles */
header{
    /* background-color: green; */
    background-color: #ffffff;
}

header nav{
    max-width: 1600px;
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.menu ul{
    display: flex;
    gap: 32px;
}

.menu ul li{
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}